.toolbar-label,
.toolbar-label > b {
    font-size: 24px;
}

#products {
    margin-top: 0px;
}

#ToolbarAddNewButton .dx-icon {  
    color: green !important;
}

#ToolbarForm.dx-toolbar-items-container {
    background-color: #e8eaf6;
}